<div class="jumbotron mt-4">
    <h1 class="display-4"> Sistema del Centro de Computo FEI</h1>
    <p class="lead">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Necessitatibus officiis natus, laborum cumque nulla voluptatibus ut quidem repellat eos reprehenderit, atque consectetur voluptas corporis quaerat, excepturi asperiores quis et facere.</p>
    <hr class="my-4">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste eum cum nam quos minus illum reprehenderit dolore, temporibus culpa, deleniti commodi sed sequi perspiciatis, quod quis voluptates. Vero, temporibus officiis!</p>
    <a href="https://www.uv.mx/fei/" class="btn btn-primary btn-lg">Nosotros</a>
</div>