<!--Usuario Estudiante-->

<div id="sidemenu" class="menu-collapsed">
    
    <!--HEADER-->
    <div id="header">
        <div id="title"><span>Sistema del Centro de Computo</span></div>
        <div id="menu-btn">
            <div class="btn-hamburger"></div>
            <div class="btn-hamburger"></div>
            <div class="btn-hamburger"></div>

        </div>
    </div>

    <!--PROFILE-->
    <div id="profile">
        <div id="photo"><img src="/img/profile.png" alt=""></div>
        <div id="usuario"> <span>Matricula</span></div>
    </div>

    <!--ITEMS-->
    <div id="menu-items">
        <div class="item">
            <a href="/registro-actividad">
                <div class="icon"><img src="/img/icons-navegation/actividad.png" alt=""></div>
                <div class="title"><span>Registrar Actividad</span></div>
            </a>
        </div>
        
        <div class="item separator">
        </div>

        <div class="item">
            <a href="/act/all-actividades">
                <div class="icon"><img src="/img/icons-navegation/actividad.png" alt=""></div>
                <div class="title"><span>Consultar Actividades</span></div>
            </a>
        </div>
        
        <div class="item separator">
        </div>

        <div class="item">
            <a href="/menu-auxtec-reserva">
                <div class="icon"><img src="/img/icons-navegation/reservacion.png" alt=""></div>
                <div class="title"><span>Registrar Reserva</span></div>
            </a>
        </div>

        <div class="item separator">
        </div>

        <div class="item">
            <a href="/reserv/all-reservas">
                <div class="icon"><img src="/img/icons-navegation/reservacion.png" alt=""></div>
                <div class="title"><span>Consultar Reservas</span></div>
            </a>
        </div>
        
        <div class="item separator">
        </div>

        <div class="item">
            <a href="#">
                <div class="icon"><img src="/img/icons-navegation/computadora.png" alt=""></div>
                <div class="title"><span>Registrar Equipo</span></div>
            </a>
        </div>

    </div>

    <script>
        const btn = document.querySelector('#menu-btn');
        const menu = document.querySelector('#sidemenu');
        btn.addEventListener('click', e =>{
            menu.classList.toggle("menu-expanded");
            menu.classList.toggle("menu-collapsed");

            document.querySelector('body').classList.toggle('body-expanded');
        });
    </script>
    
</div>


    <div id="main-container">
    </div>

    <div class="col-md-4 mx-auto">
    <div class="card">
        <div class="card-header">
            <h3>Registrar Reserva</h3>
        </div>

        <div class="card-body">
            <form action="/reserv/registrar-reserva/new-reserva" method="POST">
                <div class="form-group">
                    <label for="tipo">Tipo reserva:</label>

                    <div id="reserv" class="form-group">
                        <select id="elegir_reserv" name="tiporeserv" size="valoresvisibles">
                            <option>Salon</option>
                            <option>Momentanea</option>
                            <option>Fija</option>
                        </select>
                    </div>

                    
                    <label for="tipo">Fecha reserva:</label>

                    <div class="form-group">
                        <input type="date" id="fechareserv" name="fechareserv"/>
                    </div>

                    <label for="tipo">Hora inicio:</label>

                    <div class="form-group">
                        <input type="time" id="horainicio" name="horainicio"/>
                    </div>

                    <label for="tipo">Hora fin:</label>

                    <div class="form-group">
                        <input type="time" id="horafin" name="horafin"/>
                    </div>

                    <label for="tipo">Salon CC:</label>

                    <div class="form-group">
                        <select id="salon" name="salon" size="valoresvisibles">
                            <option>CC1</option>
                            <option>CC2</option>
                            <option>CC3</option>
                            <option>CC4</option>
                        </select>
                    </div>

                    <label for="tipo">Solicitate:</label>

                    <div class="form-group">
                        <input type="text" id="solicitante" name="solicitante"/>
                    </div>

                    <label for="tipo">Descripcion:</label>

                    <div class="form-group">
                        <input type="text" id="descripcion" name="descripcion"/>
                    </div>
                    
                           
                    <label id="labelmotivo" for="tipo">Motivo:</label>
                    
                    <div id="elementos-motivo" class="form-group">
                        <input type="text" id="motivo" name="motivo"/>
                    </div>
                    
                    <div class="form-group">
                        <button class="btn btn-primary btn-block" type="submit">
                            Registrar
                        </button>
                    </div>
                    

                </div>
            </form>
        </div>
    </div>

</div>